<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Document</title>
</head>
<body>
    
    <header th:fragment="cabecalho" class="content">
        <div class="logo">
            <a th:href="@{/index}">
                <img src="/img/logoCafeteria.png" alt="grãos de café">
            </a>
        </div>
        <nav>
            <ul class="list-menu">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a href="cardapio.html">Cardápio</a></li>
                <li><a href="unidades.html">Sobre nós</a></li>
                <li><a th:href="@{/cadastro}"><i class="bi bi-person"></i></a></li>
                <li><a href="#"><i class="bi bi-cart2"></i></a></li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="rodape">
        <div class="rodape">
            <span>Todos os Direitos Reservados - 2023 &copy; Weuller Oliveira</span>
        </div>
    </footer>

</body>
</html>